doctype html
html(lang='en')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=yes')
    meta(charset='utf-8')
    title Dashboardr
    link(rel='stylesheet', href='style/main.css')
    link(rel='stylesheet', href='style/hoq.css')
    // Manifest
    link(rel='manifest', href='manifest.json')
    // Chrome for Android theme color
    meta(name='theme-color', content='#90a8b2')
    // Add to homescreen for Chrome on Android
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='application-name', content='PSK')
    link(rel='icon', sizes='192x192', href='images/touch/icon-192x192.png')
    // Add to homescreen for Safari on iOS
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='Polymer Starter Kit')
    link(rel='apple-touch-icon', href='images/touch/icon-192x192.png')
    // Tile for Win8
    meta(name='msapplication-TileColor', content='#90a8b2')
    meta(name='msapplication-TileImage', content='images/touch/icon-192x192.png')
  body
    include ./inc/nav.jade
    script.
      var categoryId = "#{categoryId}";
    main
      h1 Project #{categoryId}
      canvas#canvas(width='800', height='300')
      table#houseTable
        tbody
          tr
            td.hidden(colspan='2')
            td.vertical-text.tech-requirements
              span Tech. requirement
            td.vertical-text.tech-requirements
              span Tech. requirement
            td.vertical-text.tech-requirements
              span Tech. requirement
            td.vertical-text.tech-requirements
              span Tech. requirement
            td.vertical-text.tech-requirements
              span Tech. requirement
            td.vertical-text.tech-requirements
              span Tech. requirement
            td.vertical-text.tech-requirements
              span Tech. requirement
            td.vertical-text.tech-requirements
              span Tech. requirement
            td.vertical-text.tech-requirements
              span Tech. requirement
            td.vertical-text.tech-requirements
              span Tech. requirement
            td.hidden(colspan='2')
          tr#topMarker
            td.hidden(colspan='2')
            td.targets
            td.targets
            td.targets
            td.targets
            td.targets
            td.targets
            td.targets
            td.targets
            td.targets
            td.targets
            td.hidden(colspan='2')
          tr#bottomMarker
            td.hidden(colspan='2')
            td#importance-0.extra
            td#importance-1.extra
            td#importance-2.extra
            td#importance-3.extra
            td#importance-4.extra
            td#importance-5.extra
            td#importance-6.extra
            td#importance-7.extra
            td#importance-8.extra
            td#importance-9.extra
            td#importanceTotal.hidden(colspan='2')
          tr
            td.hidden(colspan='2')
            td#importanceWeight-0.extra
            td#importanceWeight-1.extra
            td#importanceWeight-2.extra
            td#importanceWeight-3.extra
            td#importanceWeight-4.extra
            td#importanceWeight-5.extra
            td#importanceWeight-6.extra
            td#importanceWeight-7.extra
            td#importanceWeight-8.extra
            td#importanceWeight-9.extra
            td#importanceWeightTotal.hidden(colspan='2')
    script(src='js/idb-promised.js')
    // <script src="js/main.js"></script>
    script(src='js/hoq.js')
